@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  /* Header */

  .header-container {
    align-items: center;
  }

  .header-nav {
    flex-grow: 1;
  }

  .logo {
    padding: 28px 0;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
  }

  .menu-link {
    font-weight: 500;
    line-height: 1.14;
    padding: 32px 0;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--c-orange);
  }

  .social-list {
    display: flex;
    gap: 18px;
    margin-left: 48px;
  }

  .social-link {
    padding: 28px 0;
  }

  .social-icon {
    fill: var(--c-black);
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover .social-icon,
  .social-link:focus .social-icon {
    fill: var(--c-orange);
  }

  .burger-btn {
    display: none;
  }

  /* Hero */
  .hero-section {
    max-width: 758px;
    margin-bottom: 40px;
    padding-top: 671px;
    padding-bottom: 40px;
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url('../images/hero/hero-tab.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url('../images/hero/hero-tab@2x.jpg');
    }
  }

  .hero-section .container {
    padding: 0 72px;
  }

  .hero-title {
    max-width: 484px;
    font-size: 28px;
  }

  .container-btn {
    flex-wrap: nowrap;
    gap: 0;
  }

  .hero-btn {
    min-width: 144px;
    height: 45px;
    padding: 14px 40px;
    margin-right: 14px;
  }

  .hero-made-link {
    min-width: 183px;
    height: 45px;
    padding: 14px 40px;
  }

  .down-link {
    gap: 14px;
    font-size: 14px;
    line-height: 1.29;
    margin-left: auto;
  }

  .down-icon {
    width: 38px;
    height: 38px;
  }

  /* Benefits */
  .benefits-section {
    max-width: 768px;
  }

  .benefits-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits-list {
    padding-right: 28px;
    gap: 32px 60px;
  }

  .benefits-item {
    width: calc((100% - 60px) / 2);
  }

  /* Ingredients */
  .ingredients-section {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .ingredients-content {
    max-width: 486px;
    margin-bottom: 50px;
  }

  .ingredients-title {
    max-width: 411px;
    line-height: 1.17;
    margin-bottom: 28px;
  }

  .ingredients-list {
    gap: 32px;
  }

  .ingredients-item {
    width: calc((100% - 32px) / 2);
  }

  .ingredients-item.order {
    order: -1;
  }

  /* Recipes */
  .recipes-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .recipes-content {
    padding: 32px;
  }

  .recipes-subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }

  /* Footer */
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-top {
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 24px;
  }

  .footer-text {
    font-size: 28px;
    line-height: 1.21;
  }

  .contacts {
    margin-left: auto;
  }

  .footer-bottom {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-menu {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .footer-menu-item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-menu-item.hide {
    display: none;
  }

  .footer-menu-link {
    display: block;
    padding: 18px 0;
  }

  .subscribe-wrap {
    margin-left: auto;
  }

  .subscribe-input {
    width: 232px;
    padding: 14px 24px;
  }

  .subscribe-btn {
    min-width: 128px;
    padding: 14px 28px;
  }

  /* Modal */
  .modal {
    width: 517px;
    height: 584px;
    padding: 40px;
  }

  .modal .close-btn {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
    padding: 7px;
  }

  .modal-text {
    max-width: 298px;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 40px;
  }

  .modal-form-field {
    margin-bottom: 18px;
  }

  .modal-label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .modal-input {
    height: 68px;
    font-size: 14px;
    border-radius: 13px;
    padding: 22px 24px 22px 62px;
  }

  .input-icon {
    left: 24px;
    width: 24px;
    height: 24px;
  }

  .modal-textarea {
    min-height: 137px;
    font-size: 14px;
    border-radius: 13px;
    padding: 22px 24px;
  }

  .modal-textarea::placeholder {
    font-size: 18px;
  }

  .privacy-checkbox {
    margin-bottom: 40px;
  }

  .privacy-label {
    font-size: 14px;
  }

  .modal-btn {
    min-width: 117px;
    height: 45px;
    padding: 14px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  /* Header */
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .logo-icon {
    width: 24px;
    height: 24px;
  }

  .social-list {
    margin-left: 90px;
  }

  /* Hero */
  .hero-section {
    max-width: 1200px;
    margin-bottom: 72px;
    padding-top: 381px;
    padding-bottom: 40px;
    background-color: var(--c-violet);
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url('../images/hero/hero-desk.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url('../images/hero/hero-desk@2x.jpg');
    }
  }

  /* Benefits */
  .benefits-section {
    max-width: 1200px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 88px;
    padding: 0 18px;
  }

  .benefits-item {
    width: calc((100% - 176px) / 3);
    position: relative;
  }

  .benefits-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* Ingredients */

  .ingredients-section {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .ingredients-list {
    flex-wrap: nowrap;
    gap: 19px;
  }

  .ingredients-item {
    width: calc((100% - 57px) / 4);
    padding: 28px 32px;
  }

  .ingredients-item.order {
    order: 0;
  }

  .ingredients-img {
    margin-bottom: 36px;
  }

  /* Recipes */
  .recipes-container {
    flex-wrap: nowrap;
  }

  .recipes-pic {
    flex-shrink: 0;
  }

  .recipes-item:not(:last-child) {
    margin-bottom: 24px;
  }

  /* Footer */
  .footer-menu {
    gap: 24px;
  }

  .subscribe-input {
    width: 313px;
    height: 52px;
    font-size: 18px;
  }

  .subscribe-btn {
    padding: 17px 32px;
    min-width: 137px;
    height: 52px;
  }

  /* Modal */
  .modal-textarea {
    min-height: 162px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .recipes-section .container {
    padding: 0 77px;
  }
}
