:root {
  --c-white: #ffffff;
  --c-black: #111111;
  --c-orange: #fd9222;
  --c-violet: #1e1823;

  --body-bg: #fafafa;

  --font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--c-black);
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  color: currentColor;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.accent-color {
  color: var(--c-orange);
}

.bg-blue {
  background-color: var(--c-violet);
}

.bg-orange {
  background-color: var(--c-orange);
}

.bg-white {
  border: 1px solid var(--c-orange);
  background-color: var(--c-white);
}

.c-white {
  color: var(--c-white);
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;
}

.italic {
  font-style: italic;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  #region ======= Header ======= */
.header-container {
  display: flex;
  align-items: baseline;
}
.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  position: relative;
  display: block;
  padding: 28px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.logo-icon {
  position: relative;
  top: 6px;
  left: 0;
  margin-left: 4px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  padding: 32px 0;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--c-orange);
}

.social-list {
  display: flex;
  gap: 18px;
  margin-left: 90px;
}

.social-link {
  padding: 28px 0;
}
.social-icon {
  fill: var(--c-black);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--c-orange);
}
/*  #endregion ======= Header ======= */

/* #region ======= Hero ======= */
.hero-section {
  max-width: 1200px;
  margin: 0 auto 72px;
  border-radius: 30px;
  padding: 381px 56px 40px 56px;
  background-image: linear-gradient(
      to bottom,
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url('../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: var(--c-violet);
}

.hero-container {
}

.hero-title {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--c-white);
  margin-bottom: 32px;
}

.container-btn {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  color: var(--c-white);
  background-color: var(--c-orange);
  font-size: 14px;
  margin-right: 14px;
  min-width: 144px;
  height: 45px;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--c-orange);
  background-color: #fcf1e0;
}

.hero-made-link {
  display: block;
  border: 1px solid var(--c-white);
  border-radius: 100px;
  font-weight: 600;
  color: var(--c-white);
  padding: 14px 40px;
  min-width: 183px;
  height: 45px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-made-link:hover,
.hero-made-link:focus {
  color: var(--c-orange);
  border-color: var(--c-orange);
  background-color: var(--c-white);
}

.down-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 14px;
  letter-spacing: -0.03em;
  color: var(--c-white);
  margin-left: auto;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-link:hover,
.down-link:focus {
  color: var(--c-orange);
}

.down-icon {
  fill: var(--c-orange);
  background-color: var(--c-white);
  border-radius: 50%;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-link:hover .down-icon,
.down-link:focus .down-icon {
  fill: var(--c-white);
  background-color: var(--c-orange);
}
/* #endregion ======= Hero end ======= */

/* #region ======= Benefits ======= */
.benefits-section {
  max-width: 1200px;
  background-color: var(--c-violet);
  margin: 0 auto;
}

.benefits-container {
  padding: 50px 0;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
  padding: 0 34px;
}

.benefits-item {
  width: calc((100% - 176px) / 3);
  position: relative;
}

.benefits-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}

.benefits-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
}
.benefits-icon {
  fill: #fd9222;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--c-white);
  margin-bottom: 18px;
}

.benefits-text {
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion ======= Benefits ======= */

/* #region ======= Ingredients ======= */

.ingredients-section {
  padding: 100px 0 50px;
}

.ingredients-content {
  max-width: 486px;
  margin: 0 auto 50px;
}

.ingredients-title {
  max-width: 411px;
  margin: 0 auto 28px;
}

.ingredients-text {
  text-align: center;
}

.ingredients-list {
  display: flex;
  justify-content: center;
  gap: 19px;
}

.ingredients-item {
  position: relative;
  width: calc((100% - 57px) / 4);
  height: 270px;
  padding: 28px 32px;
  border-radius: 15px;
  overflow: hidden;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-item:hover {
  border: 0;
}

.ingredients-subtitle {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-white);
  padding: 20px;
  transform: translateY(100%);
  overflow: auto;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-item:hover .overlay {
  transform: translateY(0);
}

.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.overlay-box {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.overlay-btn {
  height: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  border: 1px solid var(--c-orange);
  border-radius: 35px;
  padding: 6px 16px;
  color: var(--c-white);
  background-color: var(--c-orange);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-btn:focus,
.overlay-btn:hover {
  color: var(--c-orange);
  background-color: var(--c-white);
  border: 1px solid var(--c-orange);
}

.overlay-link {
  font-size: 10px;
  line-height: 1.2;
  color: var(--c-black);
  border: 1px solid var(--c-orange);
  border-radius: 35px;
  padding: 6px 16px;
  min-width: 93px;
  height: 24px;
  background-color: var(--body-bg);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-link:hover,
.overlay-link:focus {
  color: var(--c-white);
  background-color: var(--c-orange);
  border: 1px solid var(--c-orange);
}
/* #endregion ======= Ingredients ======= */

/* #region ======= Recipes ======= */
.recipes-section {
  padding: 50px 0;
}

.recipes-container {
  display: flex;
  gap: 20px;
}

.recipes-img {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.recipes-content {
  padding: 32px;
  border-radius: 15px;
  background-color: var(--c-white);
}

.recipes-subtitle {
  max-width: 350px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
}

.recipes-list {
  list-style-type: disc;
  padding-left: 16px;
}

.recipes-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion ======= Recipes ======= */

/* #region ======= Reviews ======= */
.reviews-section {
  padding: 50px 0 100px;
}

.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.reviews-item {
  position: relative;
  padding: 56px 24px 24px;
  margin-bottom: 85px;
  flex-basis: calc((100% - 56px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: var(--c-white);
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}

.reviews-img {
  position: absolute;
  top: -40px;
  left: 138px;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-text {
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  color: var(--c-black);
  border: 1px solid var(--c-orange);
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 222px;
  height: 50px;
}

.reviews-btn:hover,
.reviews-btn:focus {
  color: var(--c-white);
  background-color: var(--c-orange);
}
/* #endregion ======= Reviews ======= */

/* #region ======= Footer ======= */
.footer {
  background-color: var(--c-violet);
  padding-top: 50px;
  padding-bottom: 62px;
}

.footer-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 1136px;
  padding-bottom: 54px;
}

.footer-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: var(--c-white);
}

.contacts {
  margin-left: auto;
}

.contacts-text {
  font-weight: 500;
  color: var(--c-white);
  margin-bottom: 14px;
}

.contacts-item {
  margin-bottom: 4px;
}

.contacts-link {
  color: var(--c-white);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--c-orange);
}

.footer .menu-link {
  padding: 24px 0;
}
/* #endregion ======= Footer ======= */
