.hidden {
  display: none;
}
:root {
  --c-white: #ffffff;
  --c-black: #111111;
  --c-orange: #fd9222;
  --c-violet: #1e1823;

  --body-bg: #fafafa;

  --font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--c-black);
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  color: currentColor;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: transparent;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accent-color {
  color: var(--c-orange);
}

.bg-blue {
  background-color: var(--c-violet);
}

.bg-orange {
  background-color: var(--c-orange);
}

.bg-white {
  border: 1px solid var(--c-orange);
  background-color: var(--c-white);
}

.c-white {
  color: var(--c-white);
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

.section-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--c-orange);
}

.close-icon {
  fill: var(--c-black);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--c-white);
}

/*  #region ======= Header ======= */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  display: block;
  padding-top: 20px;
  padding: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--c-black);
}

.logo-icon {
  position: relative;
  width: 21px;
  height: 21px;
  top: 6px;
  left: 0;
  margin-left: 4px;
}

.menu {
  display: none;
}

.social-list {
  display: none;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
}

.burger-icon {
  display: block;
  stroke: var(--c-black);
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon {
  stroke: var(--c-orange);
}

/*  #endregion ======= Header ======= */

/*  #region ======= Mobile menu ======= */
.mobile-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--c-violet);

  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu:not(.is-open) {
  transform: translate(-50%, -100%);
}

.mobile-menu-container {
  position: relative;
  padding-top: 136px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu .close-icon {
  fill: var(--c-white);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-nav-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--c-white);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-nav-link.current {
  color: var(--c-orange);
}

.mobile-social-list {
  display: flex;
  gap: 18px;
}

.mobile-social-icon {
  fill: var(--c-white);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover .mobile-social-icon,
.mobile-social-link:focus .mobile-social-icon {
  fill: var(--c-orange);
}
/*  #endregion ======= Mobile menu ======= */

/* #region ======= Hero ======= */
.hero-section {
  max-width: 375px;
  margin: 0 auto;
  margin-bottom: 60px;
  border-radius: 30px;
  padding-top: 395px;
  padding-bottom: 20px;
  background-color: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(
      to bottom,
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url('../images/hero/hero-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url('../images/hero/hero-mob@2x.jpg');
  }
}

.hero-section .container {
  padding: 0 40px;
}

.hero-title {
  max-width: 299px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--c-white);
  margin-bottom: 32px;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px 14px;
}

.hero-btn {
  font-weight: 600;
  color: var(--c-white);
  background-color: var(--c-orange);
  font-size: 14px;
  min-width: 120px;
  height: 41px;
  border-radius: 100px;
  padding: 12px 28px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--c-orange);
  background-color: #fcf1e0;
}

.hero-made-link {
  display: block;
  border: 1px solid var(--c-white);
  border-radius: 100px;
  font-weight: 600;
  color: var(--c-white);
  padding: 12px 28px;
  min-width: 159px;
  height: 41px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-made-link:hover,
.hero-made-link:focus {
  color: var(--c-orange);
  border-color: var(--c-orange);
  background-color: var(--c-white);
}

.down-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--c-white);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-link:hover,
.down-link:focus {
  color: var(--c-orange);
}

.down-icon {
  width: 28px;
  height: 28px;
  fill: var(--c-orange);
  background-color: var(--c-white);
  border-radius: 50%;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-link:hover .down-icon,
.down-link:focus .down-icon {
  fill: var(--c-white);
  background-color: var(--c-orange);
}
/* #endregion ======= Hero end ======= */

/* #region ======= Benefits ======= */
.benefits-section {
  max-width: 375px;
  background-color: var(--c-violet);
  margin: 0 auto;
}

.benefits-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.benefits-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
}

.benefits-icon {
  fill: #fd9222;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--c-white);
  margin-bottom: 18px;
}

.benefits-text {
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion ======= Benefits ======= */

/* #region ======= Ingredients ======= */

.ingredients-section {
  padding-top: 60px;
  padding-bottom: 30px;
}

.ingredients-content {
  margin: 0 auto;
  margin-bottom: 32px;
}

.ingredients-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.ingredients-text {
  text-align: center;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ingredients-item {
  position: relative;
  width: 100%;
  padding: 28px 55px;
  border-radius: 15px;
  overflow: hidden;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-item:hover {
  border: none;
}

.ingredients-img {
  margin: 0 auto;
  margin-bottom: 25px;
}

.ingredients-subtitle {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-white);
  padding: 28px;
  transform: translateY(100%);
  overflow: auto;

  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-item:hover .overlay {
  transform: translateY(0);
}

.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.overlay-btn-box {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.overlay-btn {
  height: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  border: 1px solid var(--c-orange);
  border-radius: 35px;
  padding: 6px 16px;
  color: var(--c-white);
  background-color: var(--c-orange);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-btn:focus,
.overlay-btn:hover {
  color: var(--c-orange);
  background-color: var(--c-white);
  border: 1px solid var(--c-orange);
}

.overlay-link {
  font-size: 10px;
  line-height: 1.2;
  color: var(--c-black);
  border: 1px solid var(--c-orange);
  border-radius: 35px;
  padding: 6px 16px;
  min-width: 93px;
  height: 24px;
  background-color: var(--body-bg);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-link:hover,
.overlay-link:focus {
  color: var(--c-white);
  background-color: var(--c-orange);
  border: 1px solid var(--c-orange);
}
/* #endregion ======= Ingredients ======= */

/* #region ======= Recipes ======= */
.recipes-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipes-img {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.recipes-content {
  padding: 20px 14px;
  border-radius: 15px;
  background-color: var(--c-white);
}

.recipes-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.recipes-list {
  list-style-type: disc;
  padding-left: 16px;
}

.recipes-item:not(:last-child) {
  margin-bottom: 18px;
}
/* #endregion ======= Recipes ======= */

/* #region ======= Reviews ======= */
.reviews-section {
  /* padding: 50px 0 100px; */
  padding-top: 30px;
  padding-top: 60px;
}

.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.reviews-item {
  position: relative;
  padding: 56px 24px 24px;
  margin-bottom: 85px;
  flex-basis: calc((100% - 56px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: var(--c-white);
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}

.reviews-img {
  position: absolute;
  top: -40px;
  left: 138px;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-text {
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  color: var(--c-black);
  border: 1px solid var(--c-orange);
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 222px;
  height: 50px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-btn:hover,
.reviews-btn:focus {
  color: var(--c-white);
  background-color: var(--c-orange);
}
/* #endregion ======= Reviews ======= */

/* #region ======= Footer ======= */
.footer {
  background-color: var(--c-violet);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 54px;
  margin-bottom: 32px;
}

.footer-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--c-white);
}

.contacts-text {
  font-weight: 500;
  color: var(--c-white);
  margin-bottom: 14px;
}

.contacts-item {
  margin-bottom: 4px;
}

.contacts-link {
  color: var(--c-white);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--c-orange);
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

.footer-menu {
  display: block;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer-menu-link {
  font-weight: 500;
  line-height: 1.14;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--c-orange);
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 207px;
  height: 45px;
  padding: 14px 18px;
  margin-right: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: var(--c-white);
}

.subscribe-btn {
  font-weight: 600;
  font-size: 14px;
  padding: 14px 24px;
  min-width: 120px;
  height: 45px;
  border-radius: 100px;
  color: var(--c-white);
  background-color: var(--c-orange);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--c-orange);
  background-color: var(--c-white);
}
/* #endregion ======= Footer ======= */

/* #region ======= Modal ======= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 32px 24px;
  width: 311px;
  height: 619px;
  border-radius: 15px;
  background-color: var(--body-bg);
  transform: translate(-50%, -50%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal .close-btn {
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  padding: 6px;
}

.modal-text {
  max-width: 255px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.modal-form-field {
  margin-bottom: 14px;
}

.modal-label {
  display: block;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 4px;
}

.input-box {
  position: relative;
}

.modal-input {
  font-size: 13px;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 13px 18px 13px 43px;
  color: rgba(64, 64, 64, 0.7);
  background-color: transparent;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--c-orange);
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 17px;
  height: 17px;
  transform: translateY(-50%);
  fill: transparent;
  stroke: #404040;
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  stroke: var(--c-orange);
}
.modal-textarea {
  display: block;
  width: 100%;
  min-height: 91px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  outline: transparent;
  resize: none;
  color: rgba(64, 64, 64, 0.7);
  background-color: transparent;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--c-orange);
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.privacy-checkbox {
  margin-bottom: 32px;
}

.privacy-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  cursor: pointer;
}

.privacy-icon-box {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  fill: transparent;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-input:checked + .privacy-label > .privacy-icon-box {
  fill: var(--c-white);
  background-color: var(--c-orange);
  border: none;
}
.privacy-link {
  text-decoration: underline;
  color: var(--c-orange);
}
.modal-btn {
  font-weight: 600;
  font-size: 14px;
  min-width: 93px;
  height: 41px;
  border-radius: 100px;
  padding: 12px 28px;
  color: var(--c-white);
  background-color: var(--c-orange);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--c-orange);
  background-color: var(--c-white);
}
/* #endregion ======= Modal ======= */
